.each_card {
  width: 250px;
  margin: 50px;
}
.name_rec {
  font-family: Gaegu;
}
/* .image {
  width: 100px;
} */

.card_flex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  /* justify-content: space-around; */
  justify-content: center;
}
