.likedposts {
  font-family: Montserrat;
  width: 600px;
  height: 500px;
  margin-left: 100px;
  padding-right: 300px;
  float: left;
  border-right: 1px solid black;
}
.likedtitle {
  font-family: Gaegu;
  color: #a63a50;
}
.myrecipes {
  font-family: Montserrat;
  float: right;
  width: 300px;
  height: 500px;
  margin-right: 100px;
}

.myrecipestitle {
  font-family: Gaegu;
  color: #a63a50;
}
.newrecipebutton {
    background-color: firebrick;
    color: white;
    border: none;
    width: 200px;
    font-family: Montserrat;
}

#header {
  width: 100%;
  border-bottom: 1px solid black;
  font-family: Gaegu;
  color: #ab9b96;
}